openapi: 3.0.0
info:
  title: NeXFlowX Fintech Core API
  version: 2.5.0
  description: Sistema Operativo Financeiro BaaS/PayFac para a Atlas Global Core.

servers:
  - url: https://api.atlasglobal.digital/api/v1
    description: Servidor de Produção

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []

paths:
  /health:
    get:
      summary: Estado do sistema
      responses:
        '200':
          description: OK
  
  /users/me:
    get:
      summary: Obter perfil do utilizador autenticado
      responses:
        '200':
          description: Dados do perfil

  /wallets:
    get:
      summary: Listar carteiras multimoeda (EUR, BRL, USD)
      responses:
        '200':
          description: Array de carteiras com saldos

  /transactions/payout:
    post:
      summary: Solicitar levantamento de fundos (Saque)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount: { type: number }
                currency: { type: string }
                destination_account: { type: string }

  /tickets:
    post:
      summary: Abrir ticket (KYC / Aumento de Limites)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                category: { type: string }
                subject: { type: string }
                description: { type: string }

  /admin/payouts/pending:
    get:
      summary: Fila de aprovação de saques (Apenas Admin)
      responses:
        '200':
          description: Lista de pedidos pendentes

  /admin/payouts/{id}/approve:
    post:
      summary: Liquidar e aprovar saída de dinheiro
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }

  /webhooks/supabase-sync:
    post:
      summary: Sincronização automática de utilizadores (Internal Use)
      security: []
